DATABASE_URL="postgresql://dev:dev@localhost:5432/steelservice_dev?schema=public"

SESSION_SECRET=

# AUTH GOOGLE
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# AUTH FACEBOOK
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=