DATABASE_URL="postgresql://dev:dev@localhost:5432/steelservice_dev?schema=public"

SESSION_SECRET=

# AUTH
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
AUTH_AUTHORIZATION_URL=
AUTH_TOKEN_URL=
AUTH_REDIRECT_URL=
